*.class
*.log

# sbt specific
.cache
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet

# ENSIME specific
.ensime_cache/
.ensime

# scala-cli, bloop, metals
.bsp/
.bloop/
.metals/
.scala-build/
project/metals.sbt

# vs code
.vscode/

# scala 3
.tasty

# sbt
project/project/
project/target/

# eclipse
build/
.classpath
.project
.settings
bin/

# intellij idea
*.iml
*.ipr
*.iws
.idea

# mac
.DS_Store

# other?
.cache-main